<center><h1>Get your random Ruby Vitamin</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= @rubyterms.rubyterm %>
</table>

<br />

<%= link_to 'Click Here for a new vitamin', rubyterms_url %>
</center>
